In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import sys
import os

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

### Data Reading

In [6]:
df= pd.read_csv("../data/user_orerviewed_data.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146887 entries, 0 to 146886
Data columns (total 56 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        146887 non-null  int64
 1   Bearer Id                         146887 non-null  float64
 2   Start                             146887 non-null  object
 3   Start ms                          146887 non-null  float64
 4   End                               146887 non-null  object
 5   End ms                            146887 non-null  float64
 6   Dur. (ms)                         146887 non-null  float64
 7   IMSI                              146887 non-null  float64
 8   MSISDN/Number                     146887 non-null  float64
 9   IMEI                              146887 non-null  float64
 10  Last Location Name                146887 non-null  object
 11  Avg RTT DL (ms)                   146887 non-null  float64
 12  Avg RTT UL (ms)                   146887 non-null  float64
 13  Avg Bearer TP DL (kbps)           146887 non-null  float64
 14  Avg Bearer TP UL (kbps)           146887 non-null  float64
 15  TCP DL Retrans. Vol (Bytes)       146887 non-null  float64
 16  TCP UL Retrans. Vol (Bytes)       146887 non-null  float64
 17  DL TP < 50 Kbps (%)               146887 non-null  float64
 18  50 Kbps < DL TP < 250 Kbps (%)    146887 non-null  float64
 19  250 Kbps < DL TP < 1 Mbps (%)     146887 non-null  float64
 20  DL TP > 1 Mbps (%)                146887 non-null  float64
 21  UL TP < 10 Kbps (%)               146887 non-null  float64
 22  10 Kbps < UL TP < 50 Kbps (%)     146887 non-null  float64
 23  50 Kbps < UL TP < 300 Kbps (%)    146887 non-null  float64
 24  UL TP > 300 Kbps (%)              146887 non-null  float64
 25  Activity Duration DL (ms)         146887 non-null  float64
 26  Activity Duration UL (ms)         146887 non-null  float64
 27  Dur. (ms).1                       146887 non-null  float64
 28  Handset Manufacturer              146887 non-null  object
 29  Handset Type                      146887 non-null  object
 30  Nb of sec with Vol DL < 6250B     146887 non-null  float64
 31  Nb of sec with Vol UL < 1250B     146887 non-null  float64
 32  Social Media DL (Bytes)           146887 non-null  float64
 33  Social Media UL (Bytes)           146887 non-null  float64
 34  Google DL (Bytes)                 146887 non-null  float64
 35  Google UL (Bytes)                 146887 non-null  float64
 36  Email DL (Bytes)                  146887 non-null  float64
 37  Email UL (Bytes)                  146887 non-null  float64
 38  Youtube DL (Bytes)                146887 non-null  float64
 39  Youtube UL (Bytes)                146887 non-null  float64
 40  Netflix DL (Bytes)                146887 non-null  float64
 41  Netflix UL (Bytes)                146887 non-null  float64
 42  Gaming DL (Bytes)                 146887 non-null  float64
 43  Gaming UL (Bytes)                 146887 non-null  float64
 44  Other DL (Bytes)                  146887 non-null  float64
 45  Other UL (Bytes)                  146887 non-null  float64
 46  Total UL (Bytes)                  146887 non-null  float64
 47  Total DL (Bytes)                  146887 non-null  float64
 48  Social Media Data Volume (Bytes)  146887 non-null  float64
 49  Google Data Volume (Bytes)        146887 non-null  float64
 50  Email Data Volume (Bytes)         146887 non-null  float64
 51  Youtube Data Volume (Bytes)       146887 non-null  float64
 52  Netflix Data Volume (Bytes)       146887 non-null  float64
 53  Gaming Data Volume (Bytes)        146887 non-null  float64
 54  Other Data Volume (Bytes)         146887 non-null  float64
 55  Total Data Volume (Bytes)         146887 non-null  float64
dtypes: float64(50), int64(1), object(5)
memory usage: 62.8+ MB

In [8]:
df.head()

   Unnamed: 0               Bearer Id                Start  Start ms                  End  End ms  Dur. (ms)               IMSI  MSISDN/Number              IMEI     Last Location Name  Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Bearer TP DL (kbps)  Avg Bearer TP UL (kbps)  TCP DL Retrans. Vol (Bytes)  TCP UL Retrans. Vol (Bytes)  DL TP < 50 Kbps (%)  50 Kbps < DL TP < 250 Kbps (%)  250 Kbps < DL TP < 1 Mbps (%)  DL TP > 1 Mbps (%)  UL TP < 10 Kbps (%)  10 Kbps < UL TP < 50 Kbps (%)  50 Kbps < UL TP < 300 Kbps (%)  UL TP > 300 Kbps (%)  Activity Duration DL (ms)  Activity Duration UL (ms)   Dur. (ms).1 Handset Manufacturer                 Handset Type  Nb of sec with Vol DL < 6250B  Nb of sec with Vol UL < 1250B  Social Media DL (Bytes)  Social Media UL (Bytes)  Google DL (Bytes)  Google UL (Bytes)  Email DL (Bytes)  Email UL (Bytes)  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)  Social Media Data Volume (Bytes)  Google Data Volume (Bytes)  Email Data Volume (Bytes)  Youtube Data Volume (Bytes)  Netflix Data Volume (Bytes)  Gaming Data Volume (Bytes)  Other Data Volume (Bytes)  Total Data Volume (Bytes)
0           0 13114483460844900352.00  2019-04-04 12:01:00    770.00  2019-04-25 14:35:00  662.00 1823652.00 208201448079117.00 33664962239.00 35521209507511.00  9.16456699548519E+015            42.00             5.00                    23.00                    44.00                     19520.00                      7230.00               100.00                            0.00                           0.00                0.00               100.00                           0.00                            0.00                  0.00                   37624.00                   38787.00 1823652892.00              Samsung   Samsung Galaxy A5 Sm-A520F                         213.00                         214.00               1545765.00                 24420.00         1634479.00         1271433.00        3563542.00         137762.00         15854611.00          2501332.00          8198936.00          9656251.00       278082303.00        14344150.00      171744450.00        8814393.00       36749741.00      308879636.00                        1570185.00                  2905912.00                 3701304.00                  18355943.00                  17855187.00                292426453.00               180558843.00               345629377.00
1           1 13114483482878900224.00  2019-04-09 13:04:00    235.00  2019-04-25 08:15:00  606.00 1365104.00 208201909211140.00 33681854413.00 35794009006359.00                L77566A            65.00             5.00                    16.00                    26.00                     19520.00                      7230.00               100.00                            0.00                           0.00                0.00               100.00                           0.00                            0.00                  0.00                     168.00                    3560.00 1365104371.00              Samsung  Samsung Galaxy J5 (Sm-J530)                         971.00                        1022.00               1926113.00                  7165.00         3493924.00          920172.00         629046.00         308339.00         20247395.00         19111729.00         18338413.00         17227132.00       608750074.00         1170709.00      526904238.00       15055145.00       53800391.00      653384965.00                        1933278.00                  4414096.00                  937385.00                  39359124.00                  35565545.00                609920783.00               541959383.00               707185356.00
2           2 13114483484080500736.00  2019-04-09 17:42:00      1.00  2019-04-25 11:58:00  652.00 1361762.00 208200314458056.00 33760627129.00 35281510359387.00                D42335A            65.00             5.00                     6.00                     9.00                     19520.00                      7230.00               100.00                            0.00                           0.00                0.00               100.00                           0.00                            0.00                  0.00                       0.00                       0.00 1361762651.00              Samsung     Samsung Galaxy A8 (2018)                         751.00                         695.00               1684053.00                 42224.00         8535055.00         1694064.00        2690151.00         672973.00         19725661.00         14699576.00         17587794.00          6163408.00       229584621.00          395630.00      410692588.00        4215763.00       27883638.00      279807335.00                        1726277.00                 10229119.00                 3363124.00                  34425237.00                  23751202.00                229980251.00               414908351.00               307690973.00
3           3 13114483485442799616.00  2019-04-10 00:31:00    486.00  2019-04-25 07:36:00  171.00 1321509.00 208201402342131.00 33750343200.00 35356610164913.00                T21824A            65.00             5.00                    44.00                    44.00                     19520.00                      7230.00               100.00                            0.00                           0.00                0.00               100.00                           0.00                            0.00                  0.00                    3330.00                   37882.00 1321509685.00              unknown                      unknown                          17.00                         207.00                644121.00                 13372.00         9023734.00         2788027.00        1439754.00         631229.00         21388122.00         15146643.00         13994646.00          1097942.00       799538153.00        10849722.00      749039933.00       12797283.00       43324218.00      846028530.00                         657493.00                 11811761.00                 2070983.00                  36534765.00                  15092588.00                810387875.00               761837216.00               889352748.00
4           4 13114483499480700928.00  2019-04-12 20:10:00    565.00  2019-04-25 10:40:00  954.00 1089009.00 208201401415120.00 33699795932.00 35407009745539.00                D88865A            65.00             5.00                     6.00                     9.00                     19520.00                      7230.00               100.00                            0.00                           0.00                0.00               100.00                           0.00                            0.00                  0.00                       0.00                       0.00 1089009389.00              Samsung             Samsung Sm-G390F                         607.00                         604.00                862600.00                 50188.00         6248284.00         1500559.00        1936496.00         173853.00         15259380.00         18962873.00         17124581.00           415218.00       527707248.00         3529801.00      550709500.00       13910322.00       38542814.00      569138589.00                         912788.00                  7748843.00                 2110349.00                  34222253.00                  17539799.00                531237049.00               564619822.00               607681403.00

In [9]:
df = df.drop("Unnamed: 0", axis=1)

###### Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric

In [27]:
top_engagement_df =df.groupby('MSISDN/Number').agg({'Dur. (ms)': 'sum','Total Data Volume (Bytes)':'sum'}).sort_values(by='Total Data Volume (Bytes)', ascending=False)
top_engagement_df.head(10)

                 Dur. (ms)  Total Data Volume (Bytes)
MSISDN/Number
33614892860.00  9966898.00              8846226494.00
33760536639.00  9279434.00              8514773963.00
33625779332.00 18553754.00              8499620722.00
33626320676.00  8791927.00              7971167261.00
33675877202.00  4865947.00              7891110608.00
33659725664.00  4035428.00              7705862783.00
33666464084.00  4536757.00              7308500938.00
33760413819.00  5321667.00              7132370514.00
33664712899.00  2927785.00              6872018208.00
33698792269.00  5169128.00              6540899126.00